.add-user-container {
    width: 80%;
    margin: 0 auto;
   

    max-width: 1400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 2px;
    margin-bottom: 10px;
  }
  
  .subheading {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .add-user-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
  }
  

  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form-left, .form-right {
    width: 45%;
  }
  
  .button-group {
    display: flex;
    justify-content: right;
  }
  
  .btn {
    padding: 12px 24px;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
  }
  
  .btn.cancel {
    background-color: #d0d0d0;
    color: #333;
  }
  
  .btn.customise {
    background-color: #164DC3;
    color: white;
  }
  
  .btn.add-employee {
    background-color: #164DC3;
    color: white;
  }

  .date-picker {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }

  
  .permission-container {
  width: 100%; /* Adjust this value to control the width */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  margin-bottom: 20px; /* Optional: Add margin to separate it from other elements */
  box-sizing: border-box; /* Ensure padding doesn't affect the overall width */
}



  @media (max-width: 768px) {
    .add-user-form {
      flex-direction: column;
      align-items: center;
    }
  
    .form-left, .form-right {
      width: 100%;
    }
  
    .button-group {
      flex-direction: column;
      width: 100%;
    }
  
    .btn {
      width: 90%;
      margin-bottom: 10px;
    }
  }
  