

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

.logo-image {
  width: 200px;
}
.sign-in-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sign-in-left {
  flex: 0.6; /* 60% width */
  background: url('C:/Users/vaibh/Downloads/Borezy-main new/Borezy-main/src/assets/bg-abstract.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.sign-in-left .logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sign-in-left h1 {
  font-size: 3rem;
  color: #ffff;
}

.sign-in-right {
  flex: 0.4; /* 40% width */
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.sign-in-right h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.sign-in-right p {
  color: #7f7f7f;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.remember-me input {
  margin-right: 10px;
}

.forgot-password {
  color: #0066cc;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.forgot-password:hover {
  text-decoration: underline;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.sign-in-button:hover {
  background-color: #004da8;
}


